<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
    <h1>用户注册</h1>
    <form method="get" action="/users_info">
        <div>
            姓名：<input type="text" name="name">
        </div>
        <div>
            单位：
            <select name="company">
                <option>气象台</option>
                <option>服务中心</option>
                <option>装备中心</option>
            </select>
        </div>
        <div>
            身份证号：<input type="text" nam="ID Card">
        </div>
        <div>
            手机号：<input type="text" name="phone number">
        </div>
        <div>
            邮箱：<input type="text" name="email address">
        </div>
        <div>
            用户名：<input type="text" name="user_name">
        </div>
        <div>
            密码：<input type="password" name="password">
        </div>
        <div>
            备注：<textarea rows="4" name="more"></textarea>
        </div>
        <div>
            <input type="submit" value="提交">
        </div>
    </form>>
</body>
</html>